head, body {
  background-color: #FF7F50;
}

h1, h4 {
  color: black;
  font-family: "Times New Roman", Times, serif;
}


table {
  background-color: #FF7F50;
  border: dotted;
  border-color: #000000;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
}
